


/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {


    .getit__formSent .sentMessage {
        width: 100%;
    }

    .getit__formSent .sentButton {
        width: 50%;
    justify-self: center;
    border: 3.0px solid #ffffff;
    background: none;
    font-size: 21.6px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    }

    .getit__formSent {
        grid-template-areas:
        "name"
        "email"
        "phone"
        "message"
        "button";
      }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {


    .getit__header {
        padding-top: 40px;
    }

    .getit__header h3 {
        font-size: 22px;
    }

    .getit__header h2 {
        font-size: 35px;
    }

    .getit__formSent .sentMessage {
        width: 100%;
    }

    .getit__formSent .sentButton {
        width: 50%;
    justify-self: center;
    border: 3.0px solid #ffffff;
    background: none;
    font-size: 21.6px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    }

    .getit__formSent {
        grid-template-areas:
        "name"
        "email"
        "phone"
        "message"
        "button";
      }

      .getit__footerSocial {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          width: 50%;
          margin: 0 auto;
          grid-row-gap: 5px;
    }

    .getit__footerSocial > div {
        margin: 0 auto;
  }

      .getit__footerText > div {
            font-size: 12px;
      }
}

