.about {
    min-height: 714px;
    background: url(../images/right_img.png) right center no-repeat,
                url(../images/section_about_background_full.jpg) center center/cover no-repeat; 
    &__header {
        float: left;
        padding-top: 181px;
        width: 330px;
        font-family: 'OpenSans Extrabold', sans-serif;
        h2 {
            font-size: 43.3px;
            line-height: 1.2;
            font-weight: 800;
            color: #1e0404;
            @media (max-width: 480px) {
                font-size: 40px;
            }
        }
        span {
            background: $mainColor1;
            font-size: 65px;
            color: $mainColor2;
            @media (max-width: 480px) {
                font-size: 50px;
            }
        }
        @media screen and (max-width: 991px) {
            float: none;
            padding-top: 60px;
            width: 100%;
            text-align: center;
        }
    }

    &__desc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 100px;
        justify-items: center;
        padding-top: 66px;
        @media (min-width: 768px) and (max-width: 991px) {
            grid-row-gap: 50px;
            padding: 60px 0;
        }
        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            grid-row-gap: 50px;
            padding: 60px 0;
        }
    }

    &__descItem {
        width: 291px;
        text-align: center;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &__descItemLogo {
        background: $mainColor1;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        i {
            margin: 0 auto;
            filter: invert(100%);
        }
    }

    &__descItemTitle {
        font-family: 'OpenSans Bold', sans-serif;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 700;
        color: #1e0404;
        padding: 18px 0;
        @media screen and (max-width: 991px) {
            font-size: 30px;
        }
    }

    &__descItemDesc {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #1e0404;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
    }
}
