* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "../scss/_fonts";
@import "../scss/_variables";

body {
    background: #fff;
    font-family: 'OpenSans', sans-serif;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.wrapper  {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    @media (min-width: 481px) and (max-width: 1199px) {
        padding: 0 5px;
    }
    @media (max-width: 480px) {
        padding: 0;
    }
}

@import "../scss/_header";
@import "../scss/_about";
@import "../scss/_portfolio";
@import "../scss/_team";
@import "../scss/_testimonials";
@import "../scss/_client";
@import "../scss/_getit";

@keyframes animationFrames{
    0% {
      transform:  translate(1000px,-300px)  scaleX(0.05) scaleY(0.05) ;
    }
    100% {
      transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
    }
}