@font-face {
    font-family: 'OpenSans';
    src: url("/Step_3-4/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'OpenSans Italic';
    src: url("/Step_5-6/fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url("/Step_5-6/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'OpenSans Extrabold';
    src: url("/Step_5-6/fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: 'Leto Bold';
    src: url("/Step_5-6/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Leto Black';
    src: url("/Step_5-6/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: 'LemonMilk Bold';
    src: url("/Step_5-6/fonts/LemonMilk.otf");
}

@font-face {
    font-family: 'PeaceSans';
    src: url("/Step_5-6/fonts/PeaceSans.otf");
}